
<div class="page-home">
  <div class="navbar-topping"></div>
  <nav role="navigation" class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle collapsed"><span class="sr-only">Alternar menu</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">
           
          Panelando
          <div class="navbar-brand-icon"><i class="icon icon-food-1"></i></div></a>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <nav role="navigation" class="main-menu">
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#/">Home
                <div class="link-icon"><i class="icon icon-shop"></i></div></a></li>
            <li><a href="#/receitas">Receitas
                <div class="link-icon"><i class="icon icon-food-1"></i></div></a></li>
            <li><a href="#/receitas/nova">Nova Receita
                <div class="link-icon"><i class="icon icon-doc-1"></i></div></a></li>
          </ul>
        </nav>
      </div>
      <div class="col-md-8">
        <div id="carousel-example-generic" data-ride="carousel" class="carousel slide">
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="item active"><img src="http://dev.munfactory.com/cookbook/images/steak-with-potatoes.jpg" alt="Primeira Receita"/>
              <div class="carousel-caption"><span class="h1">Bife com Batatas</span></div>
            </div>
            <div class="item"><img src="http://dev.munfactory.com/cookbook/images/sausage-cabbage-and-tomato-1.jpg" alt="Segunda Receita"/>
              <div class="carousel-caption"><span class="h1">Virado de Repolho</span></div>
            </div>
            <div class="item"><img src="http://dev.munfactory.com/cookbook/images/4646066888_397b6d0301_o.jpg" alt="Segunda Receita"/>
              <div class="carousel-caption"><span class="h1">Sanduíche de Filet Mignon</span></div>
            </div>
          </div><a href="#carousel-example-generic" role="button" data-slide="prev" class="carousel-control left"><span class="icon icon-left-open"></span></a><a href="#carousel-example-generic" role="button" data-slide="next" class="carousel-control right"><span class="icon icon-right-open"></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row l-main-section">
      <div class="col-md-4">
        <div class="recipe-block"><a href="index.html">
            <div class="recipe-block-title">Bife com Batatas</div>
            <div class="recipe-block-image">
              <div class="recipe-block-caption">
                <div class="item"><i class="icon icon-clock-1"></i><span>15 Min</span></div>
                <div class="item"><i class="icon icon-user-1"></i><span>6 Porções</span></div>
                <div class="item"><i class="icon icon-beaker-1"></i><span>Fácil</span></div>
              </div><img src="assets/images/static/steak-with-potatoes.jpg" class="img-responsive"/>
            </div>
            <div class="recipe-block-footer">
              <div class="pull-left"><strong>Postado em:</strong><em>14/12/2014</em></div><a href="#" class="link"><i class="icon icon-plus-squared-alt"></i>Ver Receita</a>
            </div></a></div>
      </div>
      <div class="col-md-4">
        <div class="recipe-block"><a href="index.html">
            <div class="recipe-block-title">Sanduíche de Filet Mignon</div>
            <div class="recipe-block-image">
              <div class="recipe-block-caption">
                <div class="item"><i class="icon icon-clock-1"></i><span>15 Min</span></div>
                <div class="item"><i class="icon icon-user-1"></i><span>6 Porções</span></div>
                <div class="item"><i class="icon icon-beaker-1"></i><span>Fácil</span></div>
              </div><img src="assets/images/static/filet-mignon-sandwich.jpg" class="img-responsive"/>
            </div>
            <div class="recipe-block-footer">
              <div class="pull-left"><strong>Postado em:</strong><em>14/12/2014</em></div><a href="#" class="link"><i class="icon icon-plus-squared-alt"></i>Ver Receita</a>
            </div></a></div>
      </div>
      <div class="col-md-4">
        <div class="recipe-block"><a href="index.html">
            <div class="recipe-block-title">Virado de Repolho</div>
            <div class="recipe-block-image">
              <div class="recipe-block-caption">
                <div class="item"><i class="icon icon-clock-1"></i><span>15 Min</span></div>
                <div class="item"><i class="icon icon-user-1"></i><span>6 Porções</span></div>
                <div class="item"><i class="icon icon-beaker-1"></i><span>Fácil</span></div>
              </div><img src="assets/images/static/sausage-cabbage-and-tomato-1.jpg" class="img-responsive"/>
            </div>
            <div class="recipe-block-footer">
              <div class="pull-left"><strong>Postado em:</strong><em>14/12/2014</em></div><a href="#" class="link"><i class="icon icon-plus-squared-alt"></i>Ver Receita</a>
            </div></a></div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="pull-left"><span class="semi">2014 &copy; Panelando - Todos os Direitos Reservados</span></div>
      <div class="pull-right"><i class="octicon octicon-code"></i><span class="thin">&nbsp; com &nbsp;</span><i class="octicon octicon-heart"></i><span class="thin">&nbsp; por </span><span class="bold">Gui </span><span class="thin">e </span><span class="bold">Sam</span></div>
    </div>
  </footer>
</div>