
<div class="page-nova-receita">
  <nav role="navigation" class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle collapsed"><span class="sr-only">Alternar menu</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">
           
          Panelando
          <div class="navbar-brand-icon"><i class="icon icon-food-1"></i></div></a>
      </div>
      <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Login</a></li>
          <li><a href="#">Cadastrar</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="row">
    <div class="container">
      <div class="col-md-4">
        <nav role="navigation" class="main-menu">
          <ul class="nav nav-pills nav-stacked">
            <li><a href="#/">Home
                <div class="link-icon"><i class="icon icon-shop"></i></div></a></li>
            <li class="active"><a href="#/receitas/2">Receitas
                <div class="link-icon"><i class="icon icon-food-1"></i></div></a></li>
            <li><a href="#/nova">Nova Receita
                <div class="link-icon"><i class="icon icon-doc-1"></i></div></a></li>
          </ul>
        </nav>
      </div>
      <div ng-if="Receita" class="col-md-8">
        <article class="primary-content">
          <h1 class="recipe-title">{{Receita.nome}}</h1>
          <div class="recipe-image"><img src="assets/images/static/steak-with-potatoes.jpg" class="img-responsive"/></div>
          <div class="recipe-info row">
            <ul>
              <li class="col-md-4">
                <h5><i class="icon icon-clock-1"> </i>
                  <div class="recipe-info-caption">15 min</div>
                </h5>
              </li>
              <li class="col-md-4">
                <h5><i class="icon icon-user-1"> </i>
                  <div class="recipe-info-caption">Para três</div>
                </h5>
              </li>
              <li class="col-md-4">
                <h5><i class="icon icon-beaker-1"> </i>
                  <div class="recipe-info-caption">Fácil</div>
                </h5>
              </li>
            </ul>
          </div>
          <h3>Ingredientes</h3>
          <div class="ingredients-block">
            <div ng-repeat="item in Receita.ingredientes" class="ingredient-item">{{item}}</div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>