
<div class="page-receita">
  <div class="navbar-topping"></div>
  <nav role="navigation" class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle collapsed"><span class="sr-only">Alternar menu</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand">
           
          Panelando
          <div class="navbar-brand-icon"><i class="icon icon-food-1">  </i></div></a>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <nav role="navigation" class="main-menu">
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#/">Home
                <div class="link-icon"><i class="icon icon-shop"></i></div></a></li>
            <li><a href="#/receitas">Receitas
                <div class="link-icon"><i class="icon icon-food-1"></i></div></a></li>
            <li><a href="#/receitas/nova">Nova Receita
                <div class="link-icon"><i class="icon icon-doc-1"></i></div></a></li>
          </ul>
        </nav>
      </div>
      <div ng-if="recipe" class="col-md-8">
        <article class="l-receita-content">
          <h1 class="l-receita-title">{{ recipe.name }}</h1>
          <div class="l-receita-image"><img ng-src="assets/images/static/{{recipe.image}}" class="img-responsive"/></div>
          <div class="l-receita-info row">
            <ul>
              <li class="col-md-4">
                <h5><i class="icon icon-clock-1"> </i>
                  <div class="l-receita-info-caption">
                     
                    {{ recipe.preparationTime }} min
                  </div>
                </h5>
              </li>
              <li class="col-md-4">
                <h5><i class="icon icon-user-1"> </i>
                  <div class="l-receita-info-caption">{{ recipe.numberOfPortions }} porções</div>
                </h5>
              </li>
              <li class="col-md-4">
                <h5><i class="icon icon-beaker-1"> </i>
                  <div class="l-receita-info-caption">{{ recipe.difficulty | recipeDifficulty }}</div>
                </h5>
              </li>
            </ul>
          </div>
          <h3 class="l-receita-label">Ingredientes</h3>
          <div class="notepad-block">
            <div class="notepad-block-heading"></div>
            <div ng-repeat="ingredient in recipe.ingredients" class="notepad-item-holder"><span class="notepad-number">{{ $index + 1 }}</span>
              <div class="notepad-item">{{ ingredient }}</div>
            </div>
          </div>
          <h3 class="l-receita-label">Modo de Preparo</h3>
          <div class="notepad-block">
            <div class="notepad-block-heading"></div>
            <div ng-repeat="step in recipe.steps"><span class="notepad-number">{{$index+1}}</span>
              <div class="notepad-item">{{ step }}</div>
              <div class="notepad-item">&nbsp;</div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="pull-left"><span class="semi">2014 &copy; Panelando - Todos os Direitos Reservados</span></div>
      <div class="pull-right"><i class="octicon octicon-code"></i><span class="thin">&nbsp; com &nbsp;</span><i class="octicon octicon-heart"></i><span class="thin">&nbsp; por </span><span class="bold">Gui </span><span class="thin">e </span><span class="bold">Sam</span></div>
    </div>
  </footer>
</div>