.ingredients-block

	.ingredient-item
		width: 100%
		padding-top: 0
		padding-bottom: 0
		padding-left: 60px
		background: url('../images/general/ingredients.png')
		border: none
		box-shadow: none
		font-family: $font-family-serif
		font-size: 20px
		color: $gray-dark
		line-height: 30px
		+placeholder
			font-style: italic

		&,
		&:focus
			outline: 0

	.ingredient-number
		width: 40px
		position: absolute
		font-family: $font-family-serif
		font-size: 20px
		font-style: italic
		color: lighten($gray-light, 7%)
		text-align: center
		line-height: 30px