@-webkit-keyframes bounce
  0%
    -webkit-transform: translateY(-100%)

  60%
    -webkit-transform: translateY(-10%)

  70%
    -webkit-transform: translateY(-15%)

  80%
    -webkit-transform: translateY(-5%)

  90%
    -webkit-transform: translateY(-10%)

  100%
    -webkit-transform: translateY(0%)
  


.recipe-block
  a:hover
    text-decoration: none
  &:hover .caption
    -webkit-animation: bounce 500ms ease-out
    -moz-animation: bounce 500ms ease-out
    -o-animation: bounce 500ms ease-out
    animation: bounce 500ms ease-out
    opacity: 1
  
.recipe-block-title
  padding: 12px
  background: $brand-primary
  font-family: $font-family-serif
  font-size: 20px
  font-weight: normal
  text-align: center
  color: $gray-dark

.recipe-block-image
  position: relative
  overflow: hidden

  .caption
    width: 100%
    height: 100%
    position: absolute
    padding: 20px
    opacity: 0
    background: $brand-primary
    color: white
