doctype html
html(lang="en" ng-app="panelando")
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  title Panelando

  //- Bootstrap
  link(href="assets/stylesheets/style.css", rel="stylesheet")

  //- Favicon
  link(rel="shortcut icon", href="favicon.ico")

  //- Google fonts
  link(href="http://fonts.googleapis.com/css?family=Bitter:400,700", rel="stylesheet")
  link(href="http://fonts.googleapis.com/css?family=Open+Sans:700,300,600,800,400", rel="stylesheet")
  link(href="http://fonts.googleapis.com/css?family=Pacifico", rel="stylesheet")

body

  ng-view

  //- jQuery (necessary for Bootstrap"s JavaScript plugins)
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  //- Include all compiled plugins (below), or include individual files as needed
  script(src="assets/javascripts/bootstrap.min.js")
  //- Angular Framework
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js")
  //- Angular Route
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.js")
  //- Angular components
  script(src="app/app.js")
  script(src="app/controllers.js")
  script(src="app/directives.js")