div.page-home
  nav.navbar.navbar-default(role="navigation")
    div.container
      //- Brand and toggle get grouped for better mobile display
      div.navbar-header
        button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
          span.sr-only Alternar menu
          span.icon-bar
          span.icon-bar
          span.icon-bar

        a.navbar-brand(href="#") 
          |Panelando
          div.navbar-brand-icon
            i.icon.icon-food-1

      //- Collect the nav links, forms, and other content for toggling
      div.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
        ul.nav.navbar-nav.navbar-right
          li
            a(href="#") Login
          li
            a(href="#") Cadastrar

  div.container
    div.row
      div.col-md-4
        //-- Main menu
        nav.main-menu(role="navigation")
          ul.nav.nav-pills.nav-stacked
            li.active
              a(href="#/")
                |Home
                div.link-icon
                  i.icon.icon-shop

            li
              a(href="#/receitas")
                |Receitas
                div.link-icon
                  i.icon.icon-food-1

            li
              a(href="#/receitas/nova")
                |Nova Receita
                div.link-icon
                  i.icon.icon-doc-1

      div.col-md-8
        //-- Display recipe images on a carousel
        div.carousel.slide(id="carousel-example-generic", data-ride="carousel")
          //-- Carousel indicators
          ol.carousel-indicators
            li.active(data-target="#carousel-example-generic", data-slide-to="0")
            li(data-target="#carousel-example-generic", data-slide-to="1")
            li(data-target="#carousel-example-generic", data-slide-to="2")

          //-- Wrapper for slides
          div.carousel-inner
            div.item.active
              img(src="http://dev.munfactory.com/cookbook/images/steak-with-potatoes.jpg", alt="Primeira Receita")
              div.carousel-caption
                span.h1 Bife com Batatas

            div.item
              img(src="http://dev.munfactory.com/cookbook/images/sausage-cabbage-and-tomato-1.jpg", alt="Segunda Receita")
              div.carousel-caption
                span.h1 Virado de Repolho

            div.item
              img(src="http://dev.munfactory.com/cookbook/images/4646066888_397b6d0301_o.jpg", alt="Segunda Receita")
              div.carousel-caption
                span.h1 Sanduíche de Filet Mignon

          //- Controls
          a.carousel-control.left(href="#carousel-example-generic", role="button", data-slide="prev")
            span.icon.icon-left-open

          a.carousel-control.right(href="#carousel-example-generic", role="button", data-slide="next")
            span.icon.icon-right-open

  div.container
    div.row.l-main-section
      div.col-md-4(data-ng-repeat="recipe in recipes")
        div.recipe-block
          a(href="#/receitas/{{recipe.id}}")
            div.recipe-block-title
              |{{recipe.nome}}

            div.recipe-block-image
              div.recipe-block-caption
                div.item
                  i.icon.icon-clock-1
                  span {{recipe.tempo_preparo}} Min

                div.item
                  i.icon.icon-user-1
                  span {{recipe.num_porcoes}} Porções

                div.item
                  i.icon.icon-beaker-1
                  span {{recipe.dificuldade}}

              img.img-responsive(data-ng-src="assets/images/super-static/{{recipe.imagem}}")

            div.recipe-block-footer
              div.pull-left
                strong Postado em:
                em 14/12/2014
              a.link(href="#/receitas/{{recipe.id}}")
                i.icon.icon-plus-squared-alt
                |Ver Receita
                